<!--<table class='table'>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>name</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <#% users.each do |user| %>-->
<!--      <tr>-->
<!--        <td><#%= user.name %></td>-->
<!--        <td><#%= link_to '詳細', user_path(user), class: "user_#{user.id}" %></td>-->
<!--      </tr>-->
<!--    <#% end %>-->
<!--  </tbody>-->
<!--</table>-->
<div style="background-color: aqua;">
<div class="row result">
  <div class="col-11 mx-auto">
    <div class="d-flex align-content-start flex-wrap mt-4">
      <% if users.present? %>
      <% users.each do |user| %>
      <div class="mx-5 my-4 out-line">
        <%= link_to user_path(user),class: "user_#{user.id}" do %>
          <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "180x180" %><br>
        <% end %>
        <div class="text-center"><%= user.name %></div>
      </div>
      <% end %>
      <% else %>
        <pclass="mx-auto white">検索に合致するものはありません</p>
      <% end %>
    </div>
  </div>
</div>
</div>

<script>
document.addEventListener('turbolinks:load',function(){
$('.search__form__input').on('keyup', function(e){
      Rails.fire($(".search__form")[0], "submit");
  });
});

</script>


