<h1 class="whiteback">投稿者一覧</h1>

<!--<#%= render 'index', users: @users %>-->

<div class="row mx-auto whiteback">
    <div class="search mx-auto">
      <%= form_with model: User.new, method: :get, class: "search__form" do |f| %>
        <%= f.text_field :keyword, required: true, class: "search__form__input searchTerm" %>
        <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
        </button>
      <% end %>
    </div>
</div>
  <div id="index">
    <%= render "users/index", users: @users %>
  </div>


<!--<script>-->
<!--document.addEventListener('turbolinks:load',function(){-->
<!--$('.search__form__input').on('keyup', function(e){-->
<!--      Rails.fire($(".search__form")[0], "submit");-->
<!--  });-->
<!--});-->

<!--</script>-->