// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  background-color: white;
  margin-bottom: auto;
}

.seach_background{
  width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(/assets/SAWA_paeria_TP_V4-999da3f….jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
