.searchTerm {
  width: 250px;
  border: 3px solid #8EB8FF;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #8EB8FF;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  height: 36px;
  border: 1px solid #8EB8FF;
  background: #8EB8FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.whiteback{
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.edit_background {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(luis-covarrubias-_LGrizFCwqM-unsplash);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.user_background {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(fernando-andrade-89h9zKa0L0g-unsplash);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}